<div class="container" id="team">
    <div class="row">
        <div class="col-md-8">
            <div class="bg-gris p-4">
                <div class="row">
                    <div class="col-4">
                        <input type="text" [(ngModel)]="newEquipe" aria-label="Equipe" class="form-control"
                            placeholder="Equipe" />
                    </div>
                    <div class="col-1">
                        <button (click)="onAddEquipe()" class="btn btn-success">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <app-equipe [entrepriseSended]="entreprise"></app-equipe>
        </div>
        <div class="col-md-4">
            <div class="bg-gris p-4">
                <div class="mb-3">
                    <input type="text" [(ngModel)]="prenom" class="form-control" aria-label="Prénom"
                        placeholder="Prénom" />
                </div>
                <div class="mb-3">
                    <input type="text" [(ngModel)]="nom" class="form-control" aria-label="prenom" placeholder="Nom" />
                </div>
                <div class="mb-3">
                    <select [(ngModel)]="equipeSelect" aria-label="Equipe" class="form-select">
                        <option *ngFor="let e of entreprise.listeEquipes;index as i" [value]="i">
                            {{e.nom}}
                        </option>
                    </select>
                </div>
                <button (click)="onAddPersonne()" class="btn btn-success btn-lg col-12">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- divUser -->

            <div class="mt-3 pt-2">
                <table class="table table-striped mt-4">
                    <thead>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let e of entreprise.listeEquipes;index as i">
                            <tr *ngFor="let p of e.listePersonnes; index as j">
                                <td>{{p.prenom}}</td>
                                <td>{{p.nom}}</td>
                                <td>
                                    <button (click)="onDeleteUser(i,j)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- col4 -->
    </div>
    <!-- row -->
</div>